<%- include("partials/header.ejs") %>

<form action="/editRecipe/<%= recipe.id %>" method="POST" class="mt-4">
    <div class="mb-3">
        <label for="name" class="form-label">Recipe Name:</label>
        <input type="text" id="name" name="name" class="form-control" value="<%= recipe.name %>" required>
    </div>
    <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" class="form-control" rows="5" required>
            <%= recipe.ingredients %>
        </textarea>
    </div>
    <div class="mb-3">
        <label for="instructions" class="form-label">Instructions:</label>
        <textarea id="instructions" name="instructions" class="form-control" rows="5" required><%= recipe.instructions %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<%- include("partials/footer.ejs") %>

