<%- include("partials/header.ejs") %>


<% for (var i = 0; i < recipesArray.length; i++) { %>
    <% const color =  i % 2 == 0 ? 'rgba(242, 195, 169, 0.7)' : 'rgba(255, 218, 192, 0.7) ' ;%>
    <div style="background-color: <%= color %>; " class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 text-body-emphasis"><%= recipesArray[i].name %></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <% var ingredientsArray = recipesArray[i].ingredients.split(','); %>
                <% for (var j = 0; j < ingredientsArray.length; j++) { %>
                    <input type="checkbox" id="ingredient<%= i %>-<%= j %>" name="ingredients" value="<%= ingredientsArray[j] %>">
                    <label for="ingredient<%= i %>-<%= j %>"><%= ingredientsArray[j] %></label>
                    <% if (j < ingredientsArray.length - 1) { %>, <% } %>
                <% } %>
            </p>
        </div>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><%= recipesArray[i].instructions %></p>
        </div>
    </div>
<% } %>


<%- include("partials/footer.ejs") %>

