<%- include("partials/header.ejs") %>

<% if (locals.recipe && recipe.length > 0) { %>
    <% for (var i = 0; i < recipe.length; i++) { %>
    <h2>Search Results:</h2>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis"><%= recipe[i].name %></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <% var ingredientsArray = recipe[i].ingredients.split(','); %>
                <% for (var j = 0; j < ingredientsArray.length; j++) { %>
                    <input type="checkbox" id="ingredient<%= i %>-<%= j %>" name="ingredients" value="<%= ingredientsArray[j] %>">
                    <label for="ingredient<%= i %>-<%= j %>"><%= ingredientsArray[j] %></label>
                    <% if (j < ingredientsArray.length - 1) { %>, <% } %>
                <% } %>
            </p>
        </div>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4"><%= recipe[i].instructions %></p>
        </div>
        <%}%>
    </div>
    </div>
<% } else { %>
    <h1>No Recipes Found</h1>
<% } %>

<%- include("partials/footer.ejs") %>
